.footer__column-links {
  display: flex;
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  color: white;
  margin-bottom: 16px;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
}