.khan__buy-link {
  line-height: 42px;
  font-weight: normal;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
}

.khan__buy-link:hover {
  opacity: 0.65;
  transition: opacity 0.3s ease;
}